<%- include('../partials/head.ejs') %>

    <h1>Edit Skill</h1>
    <form class="form-inline" action="/skills/<%= skill.id %>?_method=PUT" method="POST" autocomplete="off">
        <label for="skill">Skill:
                    <input class="form-control mb-2 mr-sm-2" type="text" name="skill" value="<%= skill.skill %>">
                    </label>
        <label for="level">Level:
                    <input class="form-control mb-2 mr-sm-2" type="number" name="level" value="<%= skill.level %>">
                    </label>
        <label for="description">Description:
                    <input class="form-control mb-2 mr-sm-2" type="text" name="description" value="<%= skill.description %> ">
                    </label>
        <label for="done">Project Completed:
                    <input type="checkbox" name="done" <%=skill.done ? 'checked' : '' %>>
                    </label>
        <button type="submit" class="btn btn-primary">Update Skill</button>
    </form>

    <%- include('../partials/footer.ejs') %>