<head>
    <%- include('../partials/head.ejs') %>

        <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <br>
        <form action="/skills/<%= skill.id %>?_method=DELETE" class="delete-form" method="POST">
            <button type="submit">X</button>
        </form>
        <h1>Skill #
            <%= skill.id %>
        </h1>
        <br>
        <h3>
            <%= skill.skill %>
        </h3>
        <br>
        <h3>Complete:
            <%= skill.done ? 'Yes' : 'No' %>
        </h3>
        <a href="/skills/<%= skill.id %>/edit">Edit To-Do</a>
        <br>
        <%- include('../partials/footer.ejs') %>
</body>

</html>